.mapContainer {
	position: absolute;
	height: 100vh;
	top: 0;
	right: 0;
	left: 0;
    bottom: 0;
    z-index: -3;
}


.mapboxgl-ctrl-geocoder--input{
	width: 350px;
}

#navbar{
	position: fixed;
	width: 100vw;
	height: 40px;
	/* overflow: hidden; */
  	background-color: rgb(0, 0, 0);
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 3;
}

.reviewPage, .signuppage, .loginpage, .homepage, .profilepage{
	margin-top: 30px; /* Add a top margin to avoid content overlay */
}


.station-popup {
	background: none;
	border: none;
  }
  
  .station.popup img {
	width: 2px;
  }

  #popup{
	  z-index: 6;
	  width: 600px;
	  /* background: red; */
  }

  #review{
	  background-size: 20px;
	  background-color: red;
	  z-index: 30;
  }

  .cluster-marker {
	color: rgb(210, 128, 128);
	background: #042e50;
	border-radius: 50%;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
  }
